$r-base-color-hue: 278deg;
$r-base-color: hsl($r-base-color-hue, 50%, 30%);
$v-background-color: hsl($r-base-color-hue, 0%, 100%);
$v-selection-color: hsl($r-base-color-hue, 50%, 30%);

$v-border-radius: 30px;
$v-focus-style: 0 0 0 1px rgba($v-focus-color, .5);


@import "../valo/valo";