@import "variables";

.recipes {
	@include valo;

	.v-button-light {
		color : #ccc;
	}

	.v-label-failure {
		border-style : none;
	}

	.v-tabsheet-tabs-recipe-navigation .v-tabsheet-tabitem .v-caption {
		padding-left:10px;
		padding-right:10px;
	}

	.v-textfield-serving-size {
		width:30px;
		border: 0 none #fff !important;
		border-bottom: 1px solid $r-base-color !important;
		box-shadow: none;
		text-align: center;
	}

	.v-label-h1 {
		margin-bottom : 0.5em;
	}

	.recipes-overview-content-page .title-bar .v-link {
		margin-top : 1.6em;
	}

	/*first recipe title has no margin-top so the link must not have so either*/
	.recipes-overview-content-page .v-slot-title-bar:first-child .v-link {
		margin-top : 0;
	}

	.recipes-ui {
		background-color: hsl($r-base-color-hue, 50% , 95%);
	}

	.recipes-ui .recipes-content-container,
	.recipes-ui .v-tabsheet-content-recipe-navigation {
		background-color: #fff;
		border: 1px solid $r-base-color-light;
	}

	.wrap {
		white-space: normal !important;
	}

	.v-label-instructions {
		padding-left: 2em;
	}

	.v-window-contents > .v-scrollable > .v-margin-left {
        padding-left: 2em;
    }
    .v-window-contents > .v-scrollable > .v-margin-bottom {
        padding-bottom: 2em;
    }

    .v-window-contents > .v-scrollable > .v-margin-right {
        padding-right: 2em;
    }
    .v-window-contents > .v-scrollable > .v-margin-top {
    	padding-top: 1em;
    }

	.v-window-header .v-icon {
		margin-right:10px;
	}

	.expanded {
		border-top: 1px solid #ddd !important;
		border-bottom: 1px solid #ddd !important;
		background-color: #f8f8f8;

		.overview-list-entry-title {
			margin-top: 1em;
			.name {
				font-size: 1.1em;
				font-weight: bold;
			}

			.info {
				color: $r-base-color-light;
			}
		}

		.v-progressbar {
			display:none;
			transition: display 250ms;
		}

		.v-progressbar-delayed {
			display:inline-block;
		}
	}

	.overview-list-entry-title .expand-icon {
		opacity: 0;
		transition: opacity 250ms;
	}

	.overview-list-entry-title:hover .expand-icon {
		opacity: 1;
	}

	.overview-list-entry {
		border-top: 0 none transparent;
		border-bottom: 0 none transparent;
		transition: border-top 250ms, border-bottom 250ms, background 250ms;
	}

	.overview-list-entry-title {
		transition: margin-top 250ms;
		.name {
			transition: font-weight 250ms, color 250ms, font-size 250ms;
		}

		.info {
			transition: color 250ms;
		}
	}

	.main-title .name {
		font-weight:bold;
		font-size: 3em;
	}

	.main-title .name,
	.main-title .logo .v-icon {
		background-color: $r-base-color;
		color: transparent;
		text-shadow: 0px 2px 3px rgba(255,255,255,0.3) !important;
		-webkit-background-clip: text;
		   -moz-background-clip: text;
				background-clip: text;
	}


}