@import "variables";

.recipes {
	@include valo;

	.v-button-light {
		color : #ccc;
	}

	.v-label-failure {
		border-style : none;
	}

	.v-tabsheet-tabs-recipe-navigation .v-tabsheet-tabitem .v-caption {
		padding-left:10px;
		padding-right:10px;
	}

	.v-textfield-serving-size {
		width:30px;
		border: 0 none #fff !important;
		border-bottom: 1px solid $r-base-color !important;
		box-shadow: none;
		text-align: center;
	}

	.v-label-h1 {
		margin-bottom : 0.5em;
	}

	.recipes-overview-content-page .title-bar .v-link {
		margin-top : 1.6em;
	}

	/*first recipe title has no margin-top so the link must not have so either*/
	.recipes-overview-content-page .v-slot-title-bar:first-child .v-link {
		margin-top : 0;
	}

}