@import "variables";

.recipes {
	@include valo;

	.v-button-light {
		color : #ccc;
	}
	
	.v-label-failure {
		border-style : none;
	}

	.v-tabsheet-tabs-recipe-navigation .v-tabsheet-tabitem .v-caption {
		padding-left:10px;
		padding-right:10px;
	}

	.v-textfield-serving-size {
		width:30px;
		border: 0 none;
		border-bottom: 1px solid $r-base-color;
	}

}